.footer{
    bottom: 0;
    width: 100%;
    background: black;
    align-items: center;
    color: #EDF2F3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer p{
    margin-left: 20px;
    margin: 0;
}

.footer li , .footer a
{
    list-style: none; 
    text-decoration: none;
    margin: 0;
    color: #EDF2F3;
    transition: .4s;
    margin-right: 20px;
}

.footer a:hover 
{
    color: #AFD8F2;
    margin: 0;
}