.hero
{
    font-size: 246%;
    height: 500px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero__img, .hero__div
{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.hero__div
{
    background: linear-gradient(to top, black, transparent);

}
.hero__h1
{
    position: relative;
    text-shadow: 2px 3px black;
}


